<%= form_for(twat) do |f| %>
  <% if twat.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(twat.errors.count, "error") %> prohibited this twat from being saved:</h2>

      <ul>
      <% twat.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :body %>
    <%= f.text_field :body %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
